.c-comic-list
  display flex
  flex-wrap wrap
  margin-bottom 3rem
  margin-left -1rem
  margin-right -1rem
  justify-content center

  @media (min-width $desktop-breakpoint)
    justify-content space-between

    &--rows
      .c-comic-list__item
        flex 0 0 47%
        display flex

      .c-comic-list__item-container
        float left
        padding-left 20px
        text-align left

  &__item
    background-color $dark-grey
    border 1px solid
    cursor pointer
    margin 1rem
    padding 1.5rem
    text-align center
    transition all .2s ease-out
    min-width to-em(225px)

    @media (min-width $desktop-breakpoint)
      padding 3rem

      &:hover
        opacity 1
        transform scale(1.13, 1.12)
        transition all .2s ease-in

    &-title
      margin-top 0

  &__item.is-rare
    border-color $yellow
    border-top-width 7px
