.c-notification
  z-index inherit !important

  a, span
    text-decoration none
    color inherit
    padding to-em(10px)
    display block

  .Toastify__toast
    padding 0
    &--success
      background $blue
    &--error
      background lighten($red, 10)
