*
  box-sizing border-box

html
  font-size 62.5%

body
  color $off-white
  font-family Helvetica, Arial, sans-serif
  font-size $m-size
  line-height 1.6
  background $dark-grey

a
  color inherit
  text-decoration none

  &:hover
    text-decoration underline

  .is-unstyled
    color inherit
    text-decoration none

button
  cursor pointer

button:disabled
  cursor default

.is-active
  font-weight bold

.u-text
  &-center
    text-align center

  &-right
    text-align right

.u-visible-desktop
  display none

  @media (min-width $desktop-breakpoint)
    display initial
