.l-icon-container
  align-items end
  color $off-white
  display flex
  text-decoration none

  &__content
    display flex
    align-items end
    margin-left $s-size

  &__left-text
    margin-right $xs-size

  &__right-text
    margin-left $xs-size

